.title {
  font-size: 50px;
  line-height: 50px;
  font-weight: 400;
  color: $color-cerulean-blue;

  @include tablet {
    font-size: 34px;
  }

  @include mobile {
    font-size: 20px;
    line-height: 20px;
  }
}
