.container {
  width: 100%;
  max-width: 1240px + 2 * $padding-desktop;
  margin: 0 auto;
  padding: 0 $padding-desktop;

  @include tablet {
    padding: 0 $padding-tablet;
  }

  @include mobile {
    padding: 0 $padding-mobile;
  }
}
